.landing {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .author__background {
    background: url("../../../Assets/images/landing.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50%;
  }
  .landing__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .landing__holder h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    line-height: 5.3rem;
  }