body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e20 !important;
  /* perspective: 1000px; */
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Satisfy';
  src: url('./Assets/Satisfy-Regular.ttf') format("truetype");
  src: local('./Assets/Satisfy-Regular.ttf') format("truetype")

}

@font-face {
  font-family: 'Sofia PRO';
  src: url('./Assets/sofiapro.otf') format("OpenType ");
  src: local('./Assets/sofiapro.otf') format("OpenType ")

}

.heading{
  background: -webkit-linear-gradient(to right, #fbd3e9, #bb377d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbd3e9, #bb377d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#fp-nav.fp-right {
  right: 3.5rem !important;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: white !important;
}
#fp-nav.hide{
  display: none;
}
#fp-nav.show{
  display: block;
}

@keyframes load_up{
  from{opacity:0;}
  to{opacity:1;}
}