
.text-wrapper {
  position: absolute;
    width: 100%;
    z-index: 1;
}


svg text {
	text-transform: uppercase;
	animation: stroke 1.5s forwards ease-in;
	stroke-width: 1;
	stroke: rgb(255,255,255);
	font-size: 70px;
	fill: transparent;
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	opacity: .2;
}
@keyframes stroke {
	0%   {
		fill: transparent; stroke: rgb(255,255,255);
		stroke-dashoffset: 100%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	/* 80%  {fill:transparent; stroke: rgb(255,255,255); stroke-width: 1; } */
	100% {
		fill:transparent; stroke: rgb(255,255,255); 
		stroke-dashoffset: 100%; stroke-dasharray: 50% 0; stroke-width: 1;
	}
}